code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #17191f;
  color: white;
  padding: 20px 0;
}

.footer {
  background-color: #17191f;
  color: white;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerpic {
  padding: 10px 5px;
}
